%center
  %h1 Nuevo Usuario
  = form_for (@user) do |f|
  -if @user.errors.any?
    #error_explanation
      %h3
        =pluralize(@user.errors.count, "error")
        Error al guardar el Usuario
      %ul
        - @user.errors.full_messages.each do |message|
          %li= message
  %form
    = f.label 'Correo'
    \:
    \#{f.text_field :mail, class: 'form-control'}
    %br/
    = f.label 'Contraseña'
    \:
    \#{f.text_field :password, class: 'form-control'}
    
    %br/
    %br/
    = f.metodo 'LogIn', :class => 'btn btn-primary'