<h1>Crear</h1>

<%= form_for (@user) do |f| %>
  <%= f.label :name %>:
  <%= f.text_field :name %><br />
  <%= f.label :mail %>:
  <%= f.text_field :mail %><br />

  <%= f.submit %>
<% end %>

<p><%= link_to 'Back', users_path  %></p>